# Displaying PHP errors
php_flag display_errors on
php_value error_reporting 6143
<FilesMatch "^pw\.txt$>
deny from all
</FilesMatch>
<FilesMatch "^ipn\.log$>
deny from all
</FilesMatch>
<FilesMatch "^write\.php$>
deny from all
</FilesMatch>
<FilesMatch "^writegutschein\.php$>
deny from all
</FilesMatch>